<div class="layout-topbar bg-white flex justify-content-between align-items-center px-4 py-3 border-bottom-1 surface-border shadow-1 relative z-2">
  <div class="flex align-items-center gap-3">
    <a routerLink="/" class="flex align-items-center no-underline cursor-pointer">
      <span class="text-2xl font-bold text-primary">IdeasGroup Kanban</span>
    </a>
  </div>

  <div class="flex align-items-center gap-3">
    <button class="p-link layout-topbar-button flex align-items-center justify-content-center border-circle w-3rem h-3rem hover:surface-hover transition-colors transition-duration-150" (click)="logout()">
      <i class="pi pi-user text-xl text-600"></i>
    </button>
  </div>
</div>
